{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='container'>
    <h3 style ="margin-top: 1vh;">Cari Buku</h3>
    <div class="input">
        <input type="text" id="input" placeholder="cari">
    </div>
    <br>
    <div class="content">
        <table class= "table table-borderless">
            <thead>
                <tr>
                    <th scope="col" class="align-middle">no</th>
                    <th scope="col" class="align-middle">cover</th>
                    <th scope="col" class="align-middle">title</th>
                    <th scope="col" class="align-middle">authors</th>
                    <th scope="col" class="align-middle">publisher</th>
                    <th scope="col" class="align-middle">published date</th>
                </tr>
            </thead>
            <tbody id="konten"></tbody>
        </table>
    </div>
</div>


{% endblock content %}