.btn{
  background: #EDF2F4;
  border: 0.5vw solid #2B2D42;
  border-radius: 1.2vw;
  font-size: medium;
  padding:0%;
}

button{
  background: #EDF2F4;
  border: 0.2vw solid #2B2D42;
  border-radius: 1.2vw;
  font-size: medium;
}

.card-header{
  border: 0.5vw solid #2B2D42;
}

nav{
  background:  #2B2D42;
  color: aliceblue;
}

.sort-up, .sort-down{
  margin-right: 1rem;
  float: right;
}
#container{
  margin-top: 2rem;
}

#head{
  margin-top: 1rem;
  background: #2B2D42;
  color: aliceblue;
  border-radius: 10px;
  outline: none;
  font-size:large;
}
#content{
  margin-top: 1rem;
  background: aliceblue;
  color:  #2B2D42;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: x-large;
}

#judul{
  margin-left: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 600px){
  #head{
    margin-top: 1rem;
    background: #2B2D42;
    color: aliceblue;
    border-radius: 10px;
    outline: none;
    font-size: large;
  }
  #content{
    margin-top: 1rem;
    background: aliceblue;
    color:  #2B2D42;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-size: medium;
  }
}