{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 7 kybe</title>
{% endblock meta %}
{% block content %}

<div class="container" id="container">
  <div class="row" id="judul">
    <h1>Halo,<br>
    Saya Rizky<br>
    Berikut adalah informasi mengenai saya</h1>
  </div>
  <div id="accordion">
    <div class="group" data-sort="0">
      <div id="head">
        <p> Profil Saya
          <button class="sort-up"><img src="{% static 'img/chevron-up.svg' %}"></button> 
          <button class="sort-down"><img src="{% static 'img/chevron-down.svg' %}"></button>
        </p>
      </div>
      <div id="content">
        <p>
          Halo, perkenalkan saya Rizky Pratama Nataprawira atau biasa dipanggil Kybe. 
          Saat ini saya merupakan mahasiswa tingkat 2 Sistem Informasi di Fakultas Ilmu Komputer Universitas Indonesia. 
        </p>
      </div>
    </div>

    <div class="group" data-sort="1">
      <div id="head">
        <p> aktivitas saat ini
          <button class="sort-up"><img src="{% static 'img/chevron-up.svg' %}"></button> 
          <button class="sort-down"><img src="{% static 'img/chevron-down.svg' %}"></button>
        </p>
      </div>
      <div id="content">
        <p>
          Untuk saat ini, kesibukan saya adalah kuliah dan beberapa kepanitiaan.
        </p>
      </div>
    </div>

    <div class="group" data-sort="2">
      <div id="head">
        <p> pengalaman kepantian
          <button class="sort-up"><img src="{% static 'img/chevron-up.svg' %}"></button> 
          <button class="sort-down"><img src="{% static 'img/chevron-down.svg' %}"></button>
        <p>
      </div>
      <div id="content">
        <p>
          <b>Compfest</b><br>
          Staff of Fundraising (Feb 2020 - Sekarang)<br>
          <b>PMB Fasilkom</b><br>
          Staff of Event (Jul 2020 - Sekarang)
        </p>
      </div>
    </div>

    <div class="group" data-sort="3">
      <div id="head">
        <p> Prestasi
          <button class="sort-up"><img src="{% static 'img/chevron-up.svg' %}"></button> 
          <button class="sort-down"><img src="{% static 'img/chevron-down.svg' %}"></button>
        <p>
      </div>
      <div id="content"><p>Prestasi terbesar saya saat ini adalah dapat masuk dan bertahan di Fasilkom UI hingga sekarang</p></div>
    </div>

  </div>
  
</div>
{% endblock content %}
