{% include "base.html" %} 
{% block content %}
<div class="container">
<h1 style="text-align: center;">login</h1>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
{{ message }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}
{% endif %}
<div style="text-align: center;">
    <form action="" method="POST">
        {% csrf_token %}
        <p>username: </p><input type="text" name="username">
        <p>password: </p><input type="password" name="password">
        <br>
        <br>
        <button class="submit" type="submit">login</button>
    </form>
    <br>
    <a href= "/story9"><button>kembali</button></a>
</div>
</div>
{% endblock content %}