{% load static %}
{% include "base.html" %} 
{% block content %}
<h1 class="title" style="text-align: center;">sign up</h1>
<div style="margin-left: 5vw;">
  <form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="submit" type="submit">Submit</button>
  </form>
</div>

{% endblock content %}