<!DOCTYPE html>
{% load static %}
{% include "base.html" %} 
{% block content %}
<div class="container" style="margin-left: auto;">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}
    {% endif %}
    <div>
        {% if user.is_authenticated %}
        <h1 style="text-align: center;">Selamat Datang {{ user }}</h1>
    </div>
    <div id= "logout" style="text-align: center;">
        <a href= "/story9/logout"><button  style="color: #444; font-size: large;">logout</button></a>
    </div>
    {% else %}
    <h1 style="text-align: center;">Selamat Datang</h1>
    <div class="container" style="margin-top: 5vh;text-align: center;">
        <a href= "/story9/login" ><button style="color: #444;font-size: xx-large">login</button></a>
        <a href= "/story9/signup"><button style="color: #444;;font-size: xx-large">sign up</button></a>
    </div>
    {% endif %}
</div>
{% endblock content %}